<div class= "well well-lg"></strong> <%=link_to "<strong>#{post.title}</strong>".html_safe, post_path(post) %></strong><br/> <%= post.description %><br><%= post.url %><br>
<%= link_to "Edit Post", edit_post_path(post)%>
</div>