
<div id="welcomeCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#welcomeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#welcomeCarousel" data-slide-to="1"></li>
      <li data-target="#welcomeCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'welcome/portal_logo_vertical.png' %>
        
          <div class="carousel-caption">
            <h3>Only the best recipes you can imagine</h3>
            <p>The recipes here are the finest found on the internet. Checked &amp; scrubbed daily! </p>
            <p><%#= link_to 'View recipes', cooking_recipes_path, class:'btn btn-lg btn-primary', role:'button' %></p>
          </div>
        
      </div>
      <div class="item">
        <%= image_tag 'welcome/patsailing.jpg' %>
        
          <div class="carousel-caption">
            <p class="lead">Your own recipes</p>
            <p>Do you want to submit your own recipes? Sign up for an account now!</p>
            <p><%#= link_to 'Sign up now', register_path, class:'btn btn-lg btn-primary' %></p>
          </div>
       
      </div>
      <div class="item">
        <%= image_tag 'welcome/bucketoverflowing.png' %>
        
          <div class="carousel-caption">
           <p class="lead">What are you waiting for?</p>
            <p>Do you want to create a delicious pizza or some amazing Chili Con Carne?</p>
            <p>this is the link<%#= link_to 'Browse recipes', cooking_recipes_path, class:'btn btn-lg btn-primary' %></p>
          </div>
        </div>
      
    </div>
    <!-- Carousel nav -->
  <a class="carousel-control left" href="#welcomeCarousel" data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#welcomeCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->

<script type="text/javascript">

var $ = jQuery.noConflict();

$(document).ready(function() {
 $('#welcomeCarousel').carousel({
       interval: 5000,
          cycle: true
 });
});
</script>