<h3>Welcome to the Postit App</h3>
<h4>List of all posts</h4>
<%= render "slides" %>

<div> <%= paginate @posts %> </div>

<br/>
<% @posts.each do |post| %>
<%= render 'post', :post => post %>

<% end %>

