<h3>Welcome to the Postit App</h3>

<h4>List of all posts<span>

<%= link_to "Create a new post", new_post_path,  class: 'btn btn-success pull-right' %></span>
</h4>
<br/>
<% @posts.each do |post| %>
<%= render 'post', :post => post %>

<% end %>
</ul>

