<h4>Category</h4>
<h5><%= @category.name %></h5>	
	<span class: 'small'><%= @category.updated_at%></span></p>
	<%= link_to "Edit", edit_category_path(@category), class: "btn btn-success"%>
	<%= link_to "Back to Index", categories_path, class: "btn btn-link" %>
	<br/>
	<%# @category.posts.each do |post| %>
	<%#= render 'posts/post', post: post %>
	<%# end %>