<h4>Category<span class='lead'>  <%= @category.name %></span></h4>	
	<hr/>
	<% if logged_in?%>
		<%= link_to "Edit", edit_category_path(@category), class: "btn btn-success"%>
	<% end %>
	<%= link_to "Back to Index", categories_path, class: "btn btn-link" %>
<hr />
	<% @category.posts.each do |post| %>
	<%= render 'posts/post', post: post %>
	<% end %>